[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
appdirs = "*"
mypy = "==0.931"
pytest = "*"
pytest-snapshot = "*"
pytest-xdist = "*"
tox = "*"
requests-mock = "*"
pypi-parker = "*"
pytest-freezegun = "*"
pytest-mock = "*"
pytest-rerunfailures = "*"
pytest-split = "*"
types-colorama = "~=0.4.0"
types-freezegun = "*"
types-jinja2 = "*"
types-jsonschema = "==4.6.0"
types-python-dateutil = "*"
types-requests = "*"
types-setuptools = "*"
importlib_metadata = "*"
importlib_resources = ">=1.4.0"
typing_extensions = "*"
flake8 = "*"

[packages]
jsonschema = "==4.6.1"
opengrep = {editable = true, path = "opengrep/cli"}
